.chessboard {
    width: 600px;
    height: 600px;
    margin: 20px;
    border: 2px solid black;
  }
  
  .black {
    float: left;
    width: 70px;
    height: 70px;
    background-color: black;
  }
  
  .white {
    float: left;
    width: 70px;
    height: 70px;
    background-color:white;
  }
  .corner {
    float: left;
    width: 20px;
    height: 20px;
  }
  
  .top-line {
    float: left;
    width: 70px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    transform: rotate(180deg);
  }
  
  .bottom-line {
    float: left;
    width: 70px;
    height: 20px;
    font-size: 20px;
    text-align: center;
}
  .left-line {
    float: left;
    width: 20px;
    height: 70px;
    font-size: 20px;
    text-align: center;
  }
  .right-line {
    float: left;
    width: 20px;
    height: 70px;
    font-size: 20px;
    text-align: center;
    transform: rotate(180deg);
  }
  